* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 80%;
}

.product {
    position: relative;
    width: 240px;
    height: 400px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;   
}

img {
    position: relative;
    width: 100%;
    height: 350px;
}

.heart {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 25px;
    background-color: white;
    padding: 5px 10px;    
}

.discount {
    position: absolute;
    left: 0;
    bottom: 60px;
    font-size: 14px;
    background-color: red;
    color: white;
    padding: 2px;
}

.category {
    position: absolute;
    left: 40px;
    bottom: 60px;
    font-size: 14px;
    background-color: green;
    color: white;
    padding: 2px;
}

.category2 {
    position: absolute;
    left: 0px;
    bottom: 60px;
    font-size: 14px;
    background-color: green;
    color: white;
    padding: 2px;
}

.brand {
    position: absolute;
    left: 0;
    bottom: 30px;
    font-size: 13px;
}

.product-name {
    position: absolute;
    left: 0;
    bottom: 15px;
}

.price {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    color: red;
}

del {
    color: black;
    margin-left: 2px;

}